* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sigmar One", cursive;
}

.container {
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* Bonus */

.buttons {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.buttons-container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
}

.fr {
  float: right;
}

.buttons-list {
  text-align: center;
}

.buttons::after {
  content: "";
  display: table;
  clear: both;
}

.buttons a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  background-color: #f8f8ff;
  padding: 3px;
  width: 40px;
  margin-left: 20px;
  font-size: 15px;
  line-height: 2;
  border-radius: 50%;
}

/* Bonus End */

.container.red {
  background-color: red;
}

.container.green {
  background-color: green;
}

.container.yellow {
  background-color: yellow;
}

.item {
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.item img {
  width: 100%;
}

.item .text-item {
  text-transform: uppercase;
  padding: 0 30px;
}

.item .text-item div {
  font-size: 45px;
  display: inline-block;
  padding-right: 30px;
  line-height: 1.2;
  color: yellow;
}

.item .text-item.green-text div {
  color: green;
}
